SUPABASE_URL=https://YOUR_PROJECT.supabase.co
SUPABASE_KEY=YOUR_SUPABASE_SERVICE_OR_ANON_KEY
JWT_SECRET=your-super-secret-jwt-key

ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30

CORS_ORIGINS=http://3.85.144.221:3005

PORT=8010
